<style type="text/css">
	table {
		width: 100%;
	}
	td {
		vertical-align: top;
		padding: 0.5em 0;
	}
	td img {
		max-width: 320px;
		max-height: 256px;
	}
	td input[type="text"],
	td textarea {
		width: 100%;
	}
</style>
<header class="main">
	<h1>ADMIN - EDIT GAME</h1>
	{% if message %}
		<p>{{ message }}</p>
	{% endif %}
</header>
<div class="main">
	<form action="" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="old-id"{% if game.id %} value="{{ game.id }}"{% endif %} />
		<table cellspacing="1" cellpadding="0">
			<tr>
				<td>ID</td>
				<td colspan="2">
					<input type="text" name="id"{% if game.id %} value="{{ game.id }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Alt IDs</td>
				<td colspan="2">
					<input type="text" name="alt-ids"{% if game.alt_ids %} value="{{ ','.join(game.alt_ids) }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Platforms</td>
				<td colspan="2">
					<select name="platforms" size="3" multiple="multiple">
						<option value="android"{% if 'android' in game.platforms %} selected="selected"{% endif %}>
							android
						</option>
						<option value="web"{% if 'web' in game.platforms %} selected="selected"{% endif %}>
							web
						</option>
						<option value="windows"{% if 'windows' in game.platforms %} selected="selected"{% endif %}>
							windows
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Tech.</td>
				<td colspan="2">
					<select name="tech" size="5" multiple="multiple">
						<option value="flash"{% if 'flash' in game.tech %} selected="selected"{% endif %}>
							flash
						</option>
						<option value="html5"{% if 'html5' in game.tech %} selected="selected"{% endif %}>
							html5
						</option>
						<option value="java"{% if 'java' in game.tech %} selected="selected"{% endif %}>
							java
						</option>
						<option value="unity"{% if 'unity' in game.tech %} selected="selected"{% endif %}>
							unity
						</option>
						<option value="windows"{% if 'windows' in game.tech %} selected="selected"{% endif %}>
							windows
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Title</td>
				<td colspan="2">
					<input type="text" name="title"{% if game.title %} value="{{ game.title }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Short Title</td>
				<td colspan="2">
					<input type="text" name="short-title"{% if game.short_title %} value="{{ game.short_title }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Abbreviation</td>
				<td colspan="2">
					<input type="text" name="abbr-title"{% if game.abbr_title %} value="{{ game.abbr_title }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Description</td>
				<td colspan="2">
					<textarea type="text" name="description">{% if game.description %}{{ game.description }}{% endif %}</textarea>
				</td>
			</tr>
			<tr>
				<td>Short Description</td>
				<td colspan="2">
					<textarea type="text" name="short-description">{% if game.short_description %}{{ game.short_description }}{% endif %}</textarea>
				</td>
			</tr>
			<tr>
				<td colspan="3"><hr /></td>
			</tr>
			<tr>
				<td>Embed code</td>
				<td colspan="2">
					<textarea type="text" name="embed-code">{% if game.embed_code %}{{ game.embed_code }}{% endif %}</textarea>
				</td>
			</tr>
			<tr>
				<td>Release date</td>
				<td colspan="2">
					<input type="text" name="release-date"{% if game.release_date %} value="{{ game.release_date }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Version</td>
				<td colspan="2">
					<input type="text" name="version"{% if game.version %} value="{{ game.version }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Status</td>
				<td colspan="2">
					<select name="status" size="4">
						<option value="Released"{% if game.status == 'Released' %} selected="selected"{% endif %}>
							Released
						</option>
						<option value="&amp;ldquo;Complete&amp;rdquo;"{% if game.status == '&ldquo;Complete&rdquo;' %} selected="selected"{% endif %}>
							&ldquo;Complete&rdquo;
						</option>
						<option value="Work-in-progress"{% if game.status == 'Work-in-progress' %} selected="selected"{% endif %}>
							Work-in-progress
						</option>
						<option value="Work-in-progress"{% if game.status == 'Work-in-progress' %} selected="selected"{% endif %}>
							Shelved
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Credits</td>
				<td colspan="2">
					<textarea type="text" name="credits" style="font-family: monospace;">{% if game.credits %}{{ game.credits }}{% endif %}</textarea>
				</td>
			</tr>
			<tr>
				<td>Changelog</td>
				<td colspan="2">
					<textarea type="text" name="changelog" style="font-family: monospace;">{% if game.changelog %}{{ game.changelog }}{% endif %}</textarea>
				</td>
			</tr>
			<tr>
				<td colspan="3"><hr /></td>
			</tr>
			<tr>
				<td>Icon</td>
				<td colspan="2">
					<input type="file" name="icon" />
					<br />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/icon.png{% endif %}" alt="Icon is {% if game.icon %}set{% else %}not set{% endif %}" />
				</td>
			</tr>
			<tr>
				<td>Screenshot 0</td>
				<td>
					Thumb: <input type="file" name="thumbnail" />
					<br />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/thumbnail0.png{% endif %}" alt="Thumbnail 0 is {% if game.thumbnails[0] %}set{% else %}not set{% endif %}" />
				</td>
				<td>
					Full: <input type="file" name="screenshot" />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/screenshot0.png{% endif %}" alt="Screenshot 0 is {% if game.screenshots[0] %}set{% else %}not set{% endif %}" />
				</td>
			</tr>
			<tr>
				<td>Screenshot 1</td>
				<td>
					Thumb: <input type="file" name="thumbnail" />
					<br />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/thumbnail1.png{% endif %}" alt="Thumbnail 1 is {% if game.thumbnails[1] %}set{% else %}not set{% endif %}" />
				</td>
				<td>
					Full: <input type="file" name="screenshot" />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/screenshot1.png{% endif %}" alt="Screenshot 1 is {% if game.screenshots[1] %}set{% else %}not set{% endif %}" />
				</td>
			</tr>
			<tr>
				<td>Screenshot 2</td>
				<td>
					Thumb: <input type="file" name="thumbnail" />
					<br />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/thumbnail2.png{% endif %}" alt="Thumbnail 2 is {% if game.thumbnails[2] %}set{% else %}not set{% endif %}" />
				</td>
				<td>
					Full: <input type="file" name="screenshot" />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/screenshot2.png{% endif %}" alt="Screenshot 2 is {% if game.screenshots[2] %}set{% else %}not set{% endif %}" />
				</td>
			</tr>
			<tr>
				<td>Screenshot 3</td>
				<td>
					Thumb: <input type="file" name="thumbnail" />
					<br />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/thumbnail3.png{% endif %}" alt="Thumbnail 3 is {% if game.thumbnails[3] %}set{% else %}not set{% endif %}" />
				</td>
				<td>
					Full: <input type="file" name="screenshot" />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/screenshot3.png{% endif %}" alt="Screenshot 3 is {% if game.screenshots[3] %}set{% else %}not set{% endif %}" />
				</td>
			</tr>
			<tr>
				<td>Screenshot 4</td>
				<td>
					Thumb: <input type="file" name="thumbnail" />
					<br />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/thumbnail4.png{% endif %}" alt="Thumbnail 4 is {% if game.thumbnails[4] %}set{% else %}not set{% endif %}" />
				</td>
				<td>
					Full: <input type="file" name="screenshot" />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/screenshot4.png{% endif %}" alt="Screenshot 4 is {% if game.screenshots[4] %}set{% else %}not set{% endif %}" />
				</td>
			</tr>
			<tr>
				<td>Screenshot 5</td>
				<td>
					Thumb: <input type="file" name="thumbnail" />
					<br />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/thumbnail5.png{% endif %}" alt="Thumbnail 5 is {% if game.thumbnails[5] %}set{% else %}not set{% endif %}" />
				</td>
				<td>
					Full: <input type="file" name="screenshot" />
					<img src="{% if game.id %}/game_assets/{{ game.id }}/screenshot5.png{% endif %}" alt="Screenshot 5 is {% if game.screenshots[5] %}set{% else %}not set{% endif %}" />
				</td>
			</tr>
			<tr>
				<td colspan="3"><hr /></td>
			</tr>
			<tr>
				<td>Facebook URL</td>
				<td colspan="2">
					<input type="text" name="facebook-url"{% if game.facebook_url %} value="{{ game.facebook_url }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Google+ URL</td>
				<td colspan="2">
					<input type="text" name="gplus-url"{% if game.gplus_url %} value="{{ game.gplus_url }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Instagram URL</td>
				<td colspan="2">
					<input type="text" name="instagram-url"{% if game.instagram_url %} value="{{ game.instagram_url }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Twitter URL</td>
				<td colspan="2">
					<input type="text" name="twitter-url"{% if game.twitter_url %} value="{{ game.twitter_url }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td colspan="3"><hr /></td>
			</tr>
			<tr>
				<td>Visible</td>
				<td colspan="2">
					<input type="checkbox" name="visible"{% if game.visible %} checked="checked"{% endif %} />
				</td>
			</tr>
			<tr>
				<td>Feature rank</td>
				<td colspan="2">
					<input type="number" name="feature-rank" min="-1" step="1"{% if game.feature_rank %} value="{{ game.feature_rank }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td colspan="3"><hr /></td>
			</tr>
			<tr>
				<td colspan="3">
					<button type="submit">Submit</button>
				</td>
			</tr>
		</table>
	</form>
</div>
