<header class="main">
	<h1>ADMIN - GAME LIST</h1>
</header>
<div class="main">
	<table style="width: 100%;">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Status</th>
			<th>Rank</th>
			<th>Visible?</th>
		</tr>
		{% for game in games %}
			<tr>
				<td>
					<a href="/admin/edit?id={{ game.id }}">{{ game.id }}</a>
				</td>
				<td>{{ game.title }}</td>
				<td>{{ game.status }}</td>
				<td>{{ game.feature_rank }}</td>
				<td>{{ game.visible }}</td>
			</tr>
		{% endfor %}
	</table>
</div>
