			<footer class="footer">
				<div class="feed-links">
					<a href="/static/rss.xml" target="_blank">
						<svg role="img">
							<use xlink:href="/static/images/icons/rss.svg#icon"></use>
						</svg>
					</a>
					<a href="https://www.facebook.com/inProdGames" target="_blank">
						<svg role="img">
							<use xlink:href="/static/images/icons/fb.svg#icon"></use>
						</svg>
					</a>
					<a href="https://plus.google.com/117553032782875379546" rel="publisher" target="_blank">
						<svg role="img">
							<use xlink:href="/static/images/icons/gplus.svg#icon"></use>
						</svg>
					</a>
					<a href="https://www.instagram.com/inProdGames" target="_blank">
						<svg role="img">
							<use xlink:href="/static/images/icons/instagram.svg#icon"></use>
						</svg>
					</a>
					<a href="http://twitter.com/inProdGames" target="_blank">
						<svg role="img">
							<use xlink:href="/static/images/icons/twitter.svg#icon"></use>
						</svg>
					</a>
				</div>
				<br />
				&copy;2017 by Inverted Productions unless otherwise noted.
			</footer>
		</div>
	</body>
</html>
