			<footer class="footer">
				<div class="feed-links">
					<a href="/static/rss.xml" target="_blank">
						<svg role="img">
							<title>RSS feed</title>
							<use xlink:href="/static/images/icons/rss.svg#icon"></use>
						</svg>
					</a>
					<a href="https://www.facebook.com/inProdGames" target="_blank">
						<svg role="img">
							<title>Facebook</title>
							<use xlink:href="/static/images/icons/fb.svg#icon"></use>
						</svg>
					</a>
					<a href="https://www.instagram.com/inProdGames" target="_blank">
						<svg role="img">
							<title>Instagram</title>
							<use xlink:href="/static/images/icons/instagram.svg#icon"></use>
						</svg>
					</a>
					<a href="http://twitter.com/inProdGames" target="_blank">
						<svg role="img">
							<title>Twitter</title>
							<use xlink:href="/static/images/icons/twitter.svg#icon"></use>
						</svg>
					</a>
					<a href="http://discord.inprod.co" target="_blank">
						<svg role="img">
							<title>Discord</title>
							<use xlink:href="/static/images/icons/discord.svg#icon"></use>
						</svg>
					</a>
				</div>
				<br />
				&copy;2017 by Inverted Productions unless otherwise noted.
			</footer>
		</div>
	</body>
</html>
