<header class="main">
	<h1>{{ game.title }}</h1>
</header>
<div class="main">
	<p>
		{{ game.description|safe }}
	</p>
	{% if game.thumbnails %}
		<div class="game-screenshots">
			{% for thumbnail in game.thumbnails %}
				<img src="/game_assets/{{ game.id }}/thumbnail{{ loop.index - 1 }}.png" alt="Screenshot" />
			{% endfor %}
		</div>
	{% endif %}
	<div class="game-main-content">
		<section class="game-embed">
			<img src="/static/images/games/thumbs/{{ game.id }}.png" style="display:none;" alt="{{ title }}" />
			{{ game.embed_code|safe }}
		</section>
		{% if game.facebook_url or game.gplus_url or game.instagram_url or game.twitter_url %}
			<section class="game-feed-links">
				<div class="game-feed-follow-message">Follow <i>{{ game.short_title or game.abbr_title or game.title }}</i>:</div>
				{% if game.facebook_url %}
					<a href="{{ game.facebook_url }}" target="_blank">
						<svg role="img">
							<use xlink:href="/static/images/icons/fb.svg#icon"></use>
						</svg>
					</a>
				{% endif %}
				{% if game.gplus_url %}
					<!--<a href="{{ game.gplus_url }}" rel="publisher" target="_blank">
						<svg role="img">
							<use xlink:href="/static/images/icons/gplus.svg#icon"></use>
						</svg>
					</a>-->
				{% endif %}
				{% if game.instagram_url %}
					<a href="{{ game.instagram_url }}" rel="publisher" target="_blank">
						<svg role="img">
							<use xlink:href="/static/images/icons/instagram.svg#icon"></use>
						</svg>
					</a>
				{% endif %}
				{% if game.twitter_url %}
					<a href="{{ game.twitter_url }}" target="_blank">
						<svg role="img">
							<use xlink:href="/static/images/icons/twitter.svg#icon"></use>
						</svg>
					</a>
				{% endif %}
			</section>
		{% endif %}
	</div>
	<section class="game-details">
		{% if game.release_date %}
			<span>Release date: {{ game.release_date|safe }}</span>
		{% elif game.status %}
			<span>Status: {{ game.status }}</span>
		{% endif %}
		{% if game.version %}
			<span>Current version: {{ game.version }}</span>
		{% endif %}
	</section>
	{% if game.credits %}
		<section class="game-credits">{{ game.credits|safe }}</section>
	{% endif %}
	{% if game.changelog %}
	<!-- Updates:
		{{ game.changelog }}
	-->
	{% endif %}
	<section id="disqus_thread"></section>
	<script type="text/javascript">
		<!--
		// config vars
		var disqus_shortname = "inprod"; // required: replace example with your forum shortname
		var disqus_identifier = "inprod-{{ game.id }}";
		var disqus_url = "http://inprod.co/games/{{ game.id }}";

		// everything below here is Disqus's stuffs; just leave it alone
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
		// -->
	</script>
	<noscript>Please enable JavaScript to view comments.</noscript>
</div>
