<header class="main">
	<h1>{{ game.title }}</h1>
</header>
<div class="main">
	<p>
		{{ game.description|safe }}
	</p>
	<section class="game-embed">
		<img src="/static/images/games/thumbs/{{ game.id }}.png" style="display:none;" alt="{{ title }}" />
		{{ game.embedCode|safe }}
	</section>
	<section class="game-share" cellpadding="8">
		<div>
			<!-- +1 -->
			<div class="g-plusone" data-size="tall" data-href="http://inprod.net/games/{{ game.id }}"></div>
		</div>
		<div>
			<!-- FB like -->
			<div class="fb-like" data-href="http://inprod.net/games/{{ game.id }}" data-send="false" data-layout="box_count" data-show-faces="false"></div>
		</div>
		<div>
			<!-- Tweet -->
			<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://inprod.net/games/{{ game.id }}" data-text="Check out {{ title }}!" data-count="vertical">Tweet</a>
			
		</div>
	</section>
	<section class="game-details">
		{% if game.releaseDate %}
			<br />
			Release date: {{ game.releaseDate|safe }}
		{% endif %}
		{% if game.version %}
			<br />
			Current version: {{ game.version }}
		{% endif %}
		{% if game.status %}
			<br />
			Status: {{ game.status }}
		{% endif %}
		{% if game.credits %}
			<br />
			{{ game.credits|safe }}
		{% endif %}
	</section>
	{% if game.facebook_url or game.gplus_url or game.twitter_url %}
		<section class="feed-links">
			Follow <i>{{ game.title }}</i>:
			{% if game.facebook_url %}
				<a href="{{ game.facebook_url }}" target="_blank">
					<svg role="img">
						<use xlink:href="/static/images/icons/fb.svg#icon"></use>
					</svg>
				</a>
			{% endif %}
			{% if game.gplus_url %}
				<a href="{{ game.gplus_url }}" rel="publisher" target="_blank">
					<svg role="img">
						<use xlink:href="/static/images/icons/gplus.svg#icon"></use>
					</svg>
				</a>
			{% endif %}
			{% if game.twitter_url %}
				<a href="{{ game.twitter_url }}" target="_blank">
					<svg role="img">
						<use xlink:href="/static/images/icons/twitter.svg#icon"></use>
					</svg>
				</a>
			{% endif %}
		</section>
	{% endif %}
	{% if game.changelog %}
	<!-- Updates:
		{{ game.changelog }}
	-->
	{% endif %}
	<section id="disqus_thread"></section>
	<script type="text/javascript">
		<!--
		// config vars
		var disqus_shortname = "inprod"; // required: replace example with your forum shortname
		var disqus_identifier = "inprod-{{ game.id }}";
		var disqus_url = "http://inprod.co/games/{{ game.id }}";

		// everything below here is Disqus's stuffs; just leave it alone
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
		// -->
	</script>
	<noscript>Please enable JavaScript to view comments.</noscript>


	<!-- Social plug-in scripts -->
	<script type="text/javascript">
		// Google+
		(function() {
			var po = document.createElement("script");
			po.type = "text/javascript";
			po.async = true;
			po.src = "https://apis.google.com/js/plusone.js";
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
		
		// Facebook
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=277171175636808";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- Twitter -->
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
