<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta name="keywords" content="inverted, productions, games, flash, java, program, legitimate, L, LiquidForge, tower, defense/>
		<meta name="description" content="Inverted Productions"/>
		<meta name="revised" content="01-24-10"/>
		<meta name="language" content="en"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="google-site-verification" content="l34t8b5uW19t6nlwBcl6kYOnwjsMQly5Ux54KQTDLOc"/>
		<title>
			HTML5 - Inverted Productions
		</title>
		<link rel="stylesheet" type="text/css" href="styles.css"/>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
		<link rel="alternate" type="application/rss+xml" title="inProd Latest News" href="rss.xml"/>
	</head>
	<body>
		<div class="logo">
			<a href="/"><img src="rounded_inprod_logo.png" style="border:0;" alt="Inverted Productions"/></a><span class="tm">&trade;</span>
			<p class="tagline">
				Turning your gaming world upside-down
			</p>
		</div>
		<div class="header">
			<h1 style="position:relative; left:0.5em;">
				HTML5
			</h1>
		</div>
		<div class="main">
			<p style="text-align:center;">
				Microsoft Internet Explorer and some outdated browsers like Netscape Navigator <b>do not support HTML5</b> features.  You can download one of the following browsers support HTML5:
			</p>
			<table style="border:0; text-align:center; margin-left:auto; margin-right:auto;">
				<tr>
					<td>
						<a href="http//chrome.google.com">Google Chrome</a>
					</td>
					<td>
						<a href="http://www.mozilla.com/en-US/firefox">Mozilla Firefox</a>
					</td>
					<td>
						<a href="http://www.apple.com/safari">Apple Safari</a>
					</td>
					<td>
						<a href="http://www.opera.com">Opera</a>
					</td>
					<td>
						<a href="http://www.flock.com">Flock</a>
					</td>
					<td>
						<a href="http://www.seamonkey-project.org">SeaMonkey</a>
					</td>
				</tr>
			</table>
			<p style="text-align:center;">
                If you use Internet Explorer, you can also <b>install the <a href="http://code.google.com/chrome/chromeframe" style="font-weight:bold;">Google Chrome Frame</a> plug-in</b>.
			</p>
            <br/>
			<br/>
			<br/>
			<br/>
			<div style="text-align:center; width:750px; visibility:visible;">
				<p style="font-size:5pt; text-align:center;">
					All content on this site &copy;2011 by Inverted Productions, (L) Games, Legitimate Flash Games, and/or LiquidForge unless otherwise noted.
				</p>
				<div style="text-align:center;">
					<img src="l_games.png" style="vertical-align:middle;" alt="(L) Games"/>
					&nbsp;
					<span style="font-family:Impact; font-style:Italic;">Legitimate Flash Games</span>
					<!-- <img src="lf.png" style="vertical-align:middle;"alt="LiquidForge"/> -->
					<br/>
					<br/>
					<!-- Webs Sticker -->
					<script language="JavaScript" src="http://images.freewebs.com/JS/Freebar/btn_roundblack.js">
					</script>
				</div>
			</div>
		</div>
	</body>
</html>
