<!DOCTYPE html>
<html>
	<head>
		<meta name="google-site-verification" content="QL0VJHpt5cMGsv_HhmqEgze2PjYRR1Ih9TyPOz2lqDw"/>
		
		{% if description %}
			<meta name="description" content="{{ description }}" />
		{% endif %}
		<meta name="language" content="en" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% if title %}
			<title>{{ title }} - Inverted Productions</title>
		{% else %}
			<title>Inverted Productions - Turning your gaming world upside-down</title>
		{% endif %}
		<link rel="stylesheet" type="text/css" href="/static/styles/general.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/layout.css" />
		{% if styles %}
			<link rel="stylesheet" type="text/css" href="/static/styles/{{ styles }}.css" />
		{% endif %}
		<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="inProd News" href="/static/rss.xml"/>
		<link rel="publisher" href="https://plus.google.com/117553032782875379546"/>
	</head>
	<body>
		<nav class="header">
			<a href="/" class="logo">
				<img src="/static/images/logos/icon.svg" alt="Inverted Productions icon" class="logo-icon" />
				<img src="/static/images/logos/short.svg" alt="Inverted Productions logo" class="logo-short" />
				<img src="/static/images/logos/long.svg" alt="Inverted Productions logo" class="logo-long" />
			</a>
				<a class="nav-link" href="/" data-text="Home">Home</a>
				<a class="nav-link" href="/games" data-text="Games">Games</a>
				<a class="nav-link" href="/news" data-text="News">News</a>
			
			<div class="feed-links">
				<a href="/static/rss.xml" target="_blank">
					<svg role="img">
						<use xlink:href="/static/images/icons/rss.svg#icon"></use>
					</svg>
				</a>
				<a href="http://www.facebook.com/pages/Inverted-Productions/115574418462785" target="_blank">
					<svg role="img">
						<use xlink:href="/static/images/icons/fb.svg#icon"></use>
					</svg>
				</a>
				<a href="https://plus.google.com/117553032782875379546" rel="publisher" target="_blank">
					<svg role="img">
						<use xlink:href="/static/images/icons/gplus.svg#icon"></use>
					</svg>
				</a>
				<a href="http://twitter.com/inProdGames" target="_blank">
					<svg role="img">
						<use xlink:href="/static/images/icons/twitter.svg#icon"></use>
					</svg>
				</a>
			</div>
		</nav>
