<section>
	<a href="games/fastgame/index.html" class="feature-row">
		<div class="feature-thumbs" style="background-image: url('/static/images/games/thumbstrips/fastgame.png');"></div>
		<span class="feature-text">
			<h2 class="feature-title">The Fast Game</h2>
			<p>An early preview with some tricky puzzle solving</p>
		</span>
	</a><a href="games/icrplus" class="feature-row">
		<div class="feature-thumbs" style="background-image: url('/static/images/games/thumbstrips/icrplus.png');"></div>
		<span class="feature-text">
			<h2 class="feature-title">Inverse Cube Runner Plus <span style="vertical-align: super; font-size: 50%;">(beta)</span></h2>
			<p>Play <i>Cube Runner</i> from the opposite perspective</p>
		</span>
	</a><a href="games/imd" class="feature-row">
		<div class="feature-thumbs" style="background-image: url('/static/images/games/thumbstrips/imd.png');"></div>
		<span class="feature-text">
			<h2 class="feature-title">Inverse Missile Defense <span style="vertical-align: super; font-size: 50%;">(beta)</span></h2>
			<p>Play <i>Missile Command</i> from the opposite perspective</p>
		</span>
	</a><a href="games/ltd" class="feature-row">
		<div class="feature-thumbs" style="background-image: url('/static/images/games/thumbstrips/ltd.png');"></div>
		<span class="feature-text">
			<h2 class="feature-title">Legitimate Tower Defense</h2>
			<p>Legitimate Tower Defense</p>
		</span>
	</a>
</section>
