<header>
	<p class="tagline">Turning your world upside-down</p>
</header>
<section>
	<a href="games/tetrescape" class="feature-row">
		<div class="feature-thumbs feature-3thumbs" style="background-image: url('/game_assets/tetrescape/thumbstrip.png');"></div>
		<span class="feature-text">
			<h2 class="feature-title">TetrEscape</h2>
			<p>Slide the tetrominos to clear lines and escape the room</p>
		</span>
	</a><a href="games/workshopscramble" class="feature-row">
		<div class="feature-thumbs feature-4thumbs" style="background-image: url('/game_assets/workshopscramble/thumbstrip.png');"></div>
		<span class="feature-text">
			<h2 class="feature-title">Workshop Scramble</h2>
			<p>Make toys for kids in a fast-paced holiday-themed mobile game</p>
		</span>
	</a><a href="games/bananasplit" class="feature-row">
		<div class="feature-thumbs feature-4thumbs" style="background-image: url('/game_assets/bananasplit/thumbstrip.png');"></div>
		<span class="feature-text">
			<h2 class="feature-title">Banana Split</h2>
			<p>Desserters welcome in this army</p>
		</span>
	</a><a href="games/legittd" class="feature-row">
		<div class="feature-thumbs feature-3thumbs" style="background-image: url('/game_assets/legittd/thumbstrip.png');"></div>
		<span class="feature-text">
			<h2 class="feature-title">Legitimate Tower Defense</h2>
			<p>Defend your city's towers.  Legitimately.</p>
		</span>
	</a><a href="games/icrplus" class="feature-row">
		<div class="feature-thumbs feature-3thumbs" style="background-image: url('/game_assets/icrplus/thumbstrip.png');"></div>
		<span class="feature-text">
			<h2 class="feature-title">Inverse Cube Runner Plus <span style="vertical-align: super; font-size: 50%;">(beta)</span></h2>
			<p>Play <i>Cube Runner</i> from the opposite perspective</p>
		</span>
	</a><!--<a href="games/imd" class="feature-row">
		<div class="feature-thumbs feature-2thumbs" style="background-image: url('/game_assets/imd/thumbstrip.png');"></div>
		<span class="feature-text">
			<h2 class="feature-title">Inverse Missile Defense <span style="vertical-align: super; font-size: 50%;">(beta)</span></h2>
			<p>Play <i>Missile Command</i> from the opposite perspective</p>
		</span>
	</a>--><a href="games" class="feature-row">
		<span class="feature-text" style="max-width: none; padding: 0 4em;">
			<h2 class="feature-title">All productions &rsaquo;</h2>
		</span>
	</a>
</section>
<section>
	<p style="text-align: center;">We make video games that offer completely new experiences or new perspectives on familiar ones.</p>
</section>
