
				<img src="featured.gif" usemap="#games_map" style="border:0;" alt=""/>
				<map name="games_map">
					<!-- img, title, description, in that order -->
					<area type="rect" coords="29,26, 155,200" href="games/ltd.html" alt="Legitimate Tower Defence"/> <!-- scrnshots -->
					<area type="rect" coords="163,41, 529,70" href="games/ltd.html" alt="Legitimate Tower Defence"/> <!-- title -->
					<area type="rect" coords="165,80, 356,117" href="games/ltd.html" alt="Legitimate Tower Defence"/> <!-- description -->
					<area type="rect" coords="399,223, 580,380" href="games/smtr.html" alt="StickMan: The Reckoning"/> <!-- scrnshots -->
					<area type="rect" coords="31,242, 393,270" href="games/smtr.html" alt="StickMan: The Reckoning"/> <!-- title -->
					<area type="rect" coords="241,270, 393,306" href="games/smtr.html" alt="StickMan: The Reckoning"/> <!-- "(pre-alpha)" -->
					<!-- SMTR has no description -->
					<area type="rect" coords="16,426, 184,502" href="games/tpg.html" alt="The Two-Player Game"/> <!-- scrnshots -->
					<area type="rect" coords="204,428, 514,456" href="games/tpg.html" alt="The Two-Player Game"/> <!-- title -->
					<area type="rect" coords="204,463, 379, 500" href="games/tpg.html" alt="The Two-Player Game"/> <!-- description -->
				</map>