		<div class="main">
			<p class="smalltext">
				<a href="index.html" class="smalltext">Inverted Productions</a> &gt; <b>People</b>
			</p>
			<br/>
			<p>
				Here are some of the people who work at Inverted Productions, as well as what they are working on.
				<br/>
				<span style="font-size:8pt;">Project codenames are indicated with asterisks (*).</span>
			</p>
			<ul style="list-style:none;">
				<li id="dbelin">
					<b>Daniel Belin</b>
					<img src="/public/images/people/belin_stick.png" style="float:right; margin-left:18px;" alt=""/>
					<br/>
					Programmer, level designer
					<br/>
					Projects: AIDir*
					<br/>
					<br/>
					Short angry Russian who eats and breathes Cisco.  He builds computers and networks with outrageous specs and spends his spare time trolling everyone he meets.
					<br/>
					<br/>
					<br/>
					<br/>
				<li id="rcampion">
					<b>Robert Campion</b>
					<img src="/public/images/people/robert_stick.png" style="float:left; margin-right:18px;" alt=""/>
					<br/>
					Programmer
					<br/>
					Projects: AIDir*, Missile Defense
					<br/>
					<br/>
					Robert is quiet, but does good work.  I think he might be a robot.
					<br/>
					<br/>
					<br/>
					<br/>
				</li>
				<li id="deliasen">
					<b>Derek Eliasen</b>
					<img src="/public/images/people/derek_stick.png" style="float:right; margin-left:18px;" title="derekiv" alt=""/>
					<br/>
					Graphics designer, demolitions expert
					<br/>
					Projects: <a href="games/ltd/index.html" style="font-style:italic;">Legitimate Tower Defense</a>, <a href="games/fastgame/index.html" style="font-style:italic;">The Fast Game</a>
					<br/>
					<br/>
					Derek likes to blow stuff up.  He can make anything catch fire.  He has the coolest haircut in inProd by popular opinion.
					<br/>
					<br/>
					<br/>
				</li>
				<li id="jfoxcanning">
					<b title="v-nilla">Jamie Fox-Canning</b>
					<br/>
					Programmer
					<br/>
					Project: <a href="games/lagrange/index.html" style="font-style:italic;">Lagrange</a>
					<br/>
					<br/>
					<code>System.out.println(new WittyComment());</code>
					<br/>
					<br/>
				</li>
				<li id="fchowdhury">
					<b>Fareez Chowdhury</b>
					<br/>
					Graphics designer
					<br/>
					Projects: GameBoard*
					<br/>
					<br/>
					<code>/* no comment */</code>
					<br/>
					<br/>
				</li>
				<li id="jfranzen">
					<b>Jack Franzen</b>
					<img src="/public/images/people/jack_stick.png" style="float:left; margin-right:18px;" title="jack31" alt=""/>
					<br/>
					Programmer, graphics designer
					<br/>
					Projects: <a href="games/ltd/index.html" style="font-style:italic;">Legitimate Tower Defense</a>, <a href="games/smtr.html" style="font-style:italic;">StickMan: The Reckoning</a>, <a href="games/fastgame/index.html" style="font-style:italic;">The Fast Game</a>
					<br/>
					<br/>
					Our former &ldquo;Fearless Leader.&rdquo;  LOL!!!  He does graphics, Flash coding, and his girlfriend.  Sometimes at the same time.
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
				</li>
				<li id="hlai">
					<b>Helen Lai</b>
					<br/>
					Graphics designer
					<br/>
					Project: Project Roboky*
					<br/>
					<br/>
					&ldquo;DEFECTIVE&rdquo;
					<br/>
					<br/>
					<br/>
					<br/>
				</li>
				<li id="hlai">
					<b>Eileen Liu</b>
					<br/>
					Graphics designer, programmer
					<br/>
					Project: Project Roboky*
					<br/>
					<br/>
					&ldquo;Marry me!&rdquo;
					<br/>
					<br/>
					<br/>
					<br/>
				</li>
				<li id="jrenner">
					<b>John Renner</b>
					<img src="/public/images/people/john_stick.png" style="float:left; margin-right:18px;" title="pwnnatr" alt=""/>
					<br/>
					Programmer
					<br/>
					Past projects: <a href="games/smtr.html" style="font-style:italic;">StickMan: The Reckoning</a>, <a href="games/ltd/index.html" style="font-style:italic;">Legitimate Tower Defense</a>
					<br/>
					<br/>
					John is also our only member who uses a Mac.  Way to screw up the system, John.
					<br/>
					<br/>
					<br/>
					<br/>
				</li>
				<li id="kwithers">
					<b>The Kyle Withers</b>
					<br/>
					Chuck Norris substitute
                    <br/>
					<br/>
					Kyle Withers is definately comparable to Chuck Norris.  Do not deny it.
					<br/>
					<br/>
					<br/>
					<br/>
				</li>
				<li id="zyaro">
					<b>Zachary Yaro</b>
					<img src="/public/images/people/z_stick.png" style="float:left; margin-right:18px;" title="Gamer_Z." alt=""/>
					<br/>
					Leader, graphics designer, programmer, webmaster
                    <br/>
					Projects: GameBoard*, AIDir*, <a href="games/imd/index.html" style="font-style:italic;">Inverse Missile Defense</a>, <a href="games/icrplus/index.html" style="font-style:italic;">Inverse Cube Runner Plus</a>, <a href="games/icr/index.html" style="font-style:italic;">Inverse Cube Runner</a>, <a href="games/ltd/index.html" style="font-style:italic;">Legitimate Tower Defense</a>
					<br/>
					<br/>
Zachary has been known to balance his laptop on one hand while doing a variety of crazy things, including <a href="http://en.wikipedia.org/wiki/Poi_(performance_art)#Modern_poi" target="_blank">poi</a>.  He will try to do anything and everything with Google Wave or HTML5, whether or not it should be possible.  In addition to normal project work, Zachary maintains the website, waves, and past projects and <i>tries</i> to keep people on track.
					<br/>
					<br/>
				</li>
			</ul><!--
			<br/>
			<br/>
			<p>
				Former employees--people who worked on some inProd projects but have since left inProd.
			</p>
			<ul>
				<li id="jbradbury">
					<b title="jek">James Bradbury</b>
					<br />
					Lead Flash programmer, general problem-solver, genius
					<br />
					<br />
					James was our primary coder, Python master, and resident genius.  Our motto might as well be &ldquo;Fix it James.&rdquo;
					<br />
					<br />
				</li>
				<li id="zli">
					<b title="PIELIKEI">Zikuan Li</b>
					<br />
					Random idea generator, programmer
					<br />
					<br />
					If he says "I have an idea!" say "No, Zikuan."
					<br />
					<br />
				</li>	
				<li id="zlin">
					<b title="Mister ABC">Zeming Lin</b>
					<br />
					Server-side programmer
					<br />
					Current project: [secret project]
					<br />
					<br />
					<code>document.write(new WittyComment());</code>
					<br />
					<br />
				</li>
				<li id="asrinivasan"/>
					<b title="nintendo.berserker">Arjun Srinivasan</b>
					<br />
					Programmer
                    <br />
                    Current project: <i>Septicity</i>, Bomber (working title)
					<br />
					<br />
					<code>print witty_comment()</code>
					<br />
					<br />
				</li>
			</ul>
			<br />
			<br /> -->
		</div>
