		<script type="text/javascript">
			var productionsList,
				topRow,
				nameHead,
				typeHead,
				statusHead,
				rows = [];
			
			function init() {
				productionsList = document.getElementById('productions-list');
				
				topRow = productionsList.querySelector('tr');
				rows = Array.prototype.slice.call(productionsList.querySelectorAll('tr'), 1);
				
				nameHead = document.getElementById('header-name');
				typeHead = document.getElementById('header-type');
				statusHead = document.getElementById('header-status');
				
				sortByTitle();
			}
			function sortByTitle() {
				nameHead.classList.add('active');
				typeHead.classList.remove('active');
				statusHead.classList.remove('active');
				
				rows.sort(function (a, b) {
					var aTitle = a.querySelector('.column-title h2').textContent,
						bTitle = b.querySelector('.column-title h2').textContent;
					return aTitle > bTitle;
				});
				
				repopulateList();
			}
			function sortByType() {
				nameHead.classList.remove('active');
				typeHead.classList.add('active');
				statusHead.classList.remove('active');
				
				rows.sort(function (a, b) {
					var aType = a.querySelector('.column-type title').textContent,
						bType = b.querySelector('.column-type title').textContent;
					return aType > bType;
				});
				
				repopulateList();
			}
			function sortByStatus() {
				nameHead.classList.remove('active');
				typeHead.classList.remove('active');
				statusHead.classList.add('active');
				
				rows.sort(function (a, b) {
					var aStatus = a.querySelector('.column-status').dataset.sortValue,
						bStatus = b.querySelector('.column-status').dataset.sortValue;
					return aStatus > bStatus;
				});
				
				repopulateList();
			}
			function repopulateList() {
				productionsList.innerHTML = '';
				productionsList.appendChild(topRow);
				rows.forEach(function (row) {
					productionsList.appendChild(row);
				});
			}
			window.onload = init;
		</script>
		<header class="main">
			<h1>Productions</h1>
		</header>
		<div class="main">
			<table id="productions-list" cellspacing="1" cellpadding="0">
				<tr>
					<th></th>
					<th id="header-name" class="column-head" onclick="sortByTitle();">
						Title
					</th>
					<th id="header-type" class="column-head" onclick="sortByType();">
						Type
					</th>
					<th id="header-status" class="column-head" onclick="sortByStatus();">
						Status
					</th>
				</tr>
				<tr>
					<td class="column-thumb">
						<a href="/games/bananasplit">
							<img src="/static/images/games/thumbs/bananasplit_small.png"/>
						</a>
					</td>
					<td class="column-title">
						<a href="/games/bananasplit">
							<h2>Banana Split</h2>
							A sweet twist of third-person shooter and real-time strategy action
						</a>
					</td>
					<td class="column-type">
						<svg role="img">
							<title>HTML5</title>
							<use xlink:href="/static/images/icons/html5.svg#icon"></use>
						</svg>
					</td>
					<td class="column-status" style="color: #404040;" data-sort-value="dev">
						In development
					</td>
				</tr>
				<tr>
					<td class="column-thumb">
						<a href="/games/icr">
							<img src="/static/images/games/thumbs/icr_small.png"/>
						</a>
					</td>
					<td class="column-title">
						<a href="/games/icr">
							<h2>Inverse Cube Runner</h2>
							<i>Cube Runner</i> from the other perspective
						</a>
					</td>
					<td class="column-type">
						<svg role="img">
							<title>Java</title>
							<use xlink:href="/static/images/icons/java.svg#icon"></use>
						</svg>
					</td>
					<td class="column-status" style="color: green;" data-sort-value="2010-02">
						Released February&nbsp;2010
					</td>
				</tr>
				<tr>
					<td class="column-thumb">
						<a href="/games/icrplus">
							<br/>
							<img src="/static/images/games/thumbs/icrplus_small.png"/>
						</a>
					</td>
					<td class="column-title">
						<a href="/games/icrplus">
							<h2>Inverse Cube Runner Plus</h2>
							<i>Cube Runner</i> from the other perspective - with new graphics and better browser support
						</a>
					</td>
					<td class="column-type">
						<svg role="img">
							<title>HTML5</title>
							<use xlink:href="/static/images/icons/html5.svg#icon"></use>
						</svg>
					</td>
					<td class="column-status" style="color: blue;" data-sort-value="beta">
						Beta
					</td>
				</tr>
				<tr>
					<td class="column-thumb">
						<a href="/games/imd">
							<br/>
							<img src="/static/images/games/thumbs/imd_small.png"/>
						</a>
					</td>
					<td class="column-title">
						<a href="/games/imd">
							<h2>Inverse Missile Defense</h2>
							<i>Missile Command</i> from the other perspective
						</a>
					</td>
					<td class="column-type">
						<svg role="img">
							<title>Flash</title>
							<use xlink:href="/static/images/icons/flash.svg#icon"></use>
						</svg>
					</td>
					<td class="column-status" style="color: blue;" data-sort-value="beta">
						Beta
					</td>
				</tr>
				<tr>
					<td class="column-thumb">
						<a href="/games/ltd">
							<img src="/static/images/games/thumbs/ltd_small.png"/>
						</a>
					<td class="column-title">
						<a href="/games/ltd">
							<h2>Legitimate Tower Defense</h2>
							Defend your city's towers.  Legitimately.
							<br />
						</a>
					</td>
					<td class="column-type">
						<svg role="img">
							<title>Flash</title>
							<use xlink:href="/static/images/icons/flash.svg#icon"></use>
						</svg>
					</td>
					<td class="column-status" style="color: green;" data-sort-value="2009-04">
						Released April&nbsp;2009
					</td>
				</tr>
			</table>
		</div>
