.game-embed,
.game-details {
	text-align: center;
}

.game-screenshots {
	white-space: nowrap;
	overflow: auto;
	overflow-x: auto;
	overflow-y: hidden;
}
	.game-screenshots img {
		height: 250px;
	}

.game-main-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.game-feed-links {
	margin: 1em;
	text-align: center;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
	.game-feed-links svg {
		vertical-align: middle;
		width: 24px;
		height: 24px;
		padding: 12px;
		transform: scale(1.5);
	}

.game-details,
.game-credits {
	font-size: 75%;
	text-align: center;
}
	.game-details {
		display: flex;
		justify-content: space-evenly;
	}
	.game-credits {
		margin: 1em 0;
	}
		.game-credits p {
			margin: 0.5em;
		}

@media (min-width: 760px) {
	.game-main-content {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
	}
	.game-feed-links {
		flex-direction: column;
		justify-content: flex-start;
	}
		.game-feed-links > .game-feed-follow-message {
			padding-top: 16px;
			max-width: 80px;
		}
}
