.game-embed,
.game-details {
	text-align: center;
}

.game-main-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.game-feed-links {
	margin: 1em;
	text-align: center;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
	.game-feed-links svg {
		vertical-align: middle;
		width: 24px;
		height: 24px;
		padding: 12px;
		transform: scale(1.5);
	}

.game-share {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
	.game-share > div {
		margin: 1em;
	}

@media (min-width: 760px) {
	.game-main-content {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
	}
	.game-feed-links {
		flex-direction: column;
		justify-content: flex-start;
	}
		.game-feed-links > .game-feed-follow-message {
			padding-top: 16px;
			max-width: 80px;
		}
}
