@font-face {
	font-family: 'Denmark';
	src: url('../fonts/denmark.woff') format('woff'),
		url('../fonts/denmark.svg#Denmark-Regular') format('svg'),
		url('../fonts/denmark.eot'),
		url('../fonts/denmark.eot?#iefix') format('embedded-opentype'); 
}

/* General elements */
html,
body {
	margin: 0;
	padding: 0;
	border: 0 none;
}
h1 {
	color: #050505;
	font-size: 300%;
	font-weight: bold;
	text-align: center;
}
sup,
sub {
	font-size: 60%;
}
img {
	border: 0 none;
}
a {
	color: #030303;
	text-decoration: underline;
}
	a svg {
		fill: #030303;
	}
	a:hover,
	a:focus {
		color: #333333;
	}
		a:hover svg,
		a:focus svg {
			fill: #333333;
		}
	a:active {
		color: #808080;
	}
		a:active svg {
			fill: #808080;
		}

iframe {
	border: 0 none;
}

.fallback-message {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 1px solid gray;
	padding: 8px;
}

/* Old site styles */
#main {
	position:absolute;
	top:145px;
	left:230px;
	width:749px;
	text-align:left;
	vertical-align:top;
	z-index:50;
	visibility:visible;
}
.currentpg {
	color:#030303;
	font-size:12pt;
	font-weight:bold;
	text-decoration:none;
}

.mainpara {
}

.smalltext {
	color:#030303;
	font-size:8pt;
	font-weight:normal;
	text-decoration:none;
}
a.smalltext {
	color:#030303;
	text-decoration:underline;
}
a.smalltext:visited {
	color:#030303;
}
a.smalltext:hover {
	color:#333333;
}
a.smalltext:active {
	color:#808080;
}

.game {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
	height:auto;
}
.share {
	vertical-align:center;
}
td.share {
	margin:8px;
}
.feedback {
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:lightgray;
	
	background-image:url(/public/images/icons/envelope.png);
	background-repeat:no-repeat;
	background-position:center center;
	
	text-align:center;
}
