#productions-list {
	display: block;
	text-align: center;
	vertical-align:middle;
	position:relative;
	border-style:none;
}
	#productions-list th {
		margin: 0;
		padding: 2px;
	}
	#productions-list td {
		margin: 0;
		padding: 8px;
	}

.column-thumb img {
	width: 64px;
}
.column-title {
	position: relative;
	text-align: left;
}
	.column-title a {
		display: inline-block;
		text-decoration: none;
	}
		.column-title a:hover,
		.column-title a:focus,
		.column-title a:active {
			text-decoration: underline;
		}
	.column-title h2 {
		margin-top: 0;
	}
.column-type svg {
	width: 24px;
	height: 24px;
	transform: scale(1.25);
}
.column-status {
	font-size: 80%;
}

#topRow {
	border-bottom-style:none;
}
.column-head {
	cursor: pointer;
	white-space: nowrap;
	background-color: #fefefe;
}
	.column-head.active {
		background-color: #efefef;
	}

@media (min-width: 560px) {
	.column-thumb img {
		width: 128px;
	}
	.column-type svg {
		transform: scale(1.5);
	}
	.column-status {
		font-size: 100%;
	}
}
